@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    display: block;
    font-weight: bold;
    background-color: rgb(237, 252, 249);
    text-align: center;
}
