<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글쓰기 페이지</title>
</head>
<body>
    <h1>글쓰기 페이지</h1>
    <form method="POST"> <!--TAG 'form' : 내부의 정보를 한 번에 서버로 전송, method 'POST' : 정보를 서버에 전송하여 DB에 저장-->
        {% csrf_token %} <!--csrf : 사이트 간 요청 위조 -> 취약성 보완, form 태그 밑에 항상 위치해야 함.-->
        제목<br>
        <input type="text" name="postname"><br>
        내용<br>
        <textarea rows="10" cols="50" name="contents"></textarea><br>
        <input type="file" name="mainphoto"><br>
        <input type="submit" value="작성"> <!--buton clicked -> 정보를 서버로 전송-->
    </form>
</body>
</html>